<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>BTC 泡沫指数</title>
	<!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
	<!-- 引入 echarts.js -->
	<script src="/static/js/echarts.common.min.js"></script>
	<script src="https://lib.baomitu.com/jquery/3.0.0/jquery.min.js"></script>

</head>

<body>
	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
	<div id="main" style="width: 100%;height:600px;"></div>

	<script type="text/javascript">
		// 基于准备好的dom，初始化echarts实例
		var myChart = echarts.init(document.getElementById('main'));
		var colors = ['#5793f3', '#d14a61', '#675bba'];
		$.get('/index/btcindex', function (data) {
			option = {
				title: {
					text: '比特币泡沫指数',
					subtext: '数据来自blockchain'
				},
				color: colors,
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'cross',
						crossStyle: {
							color: '#999'
						}
					}
				},
				toolbox: {
					feature: {
						magicType: {
							show: true,
							type: ['line', 'bar']
						},
						restore: {
							show: true
						},
						saveAsImage: {
							show: true
						}
					}
				},
				legend: {
					data: ['总市值', '合理市值', '泡沫指数']
				},
				xAxis: [{
					type: 'category',
					data: data.index_x,
					axisTick: {
						alignWithLabel: true
					},
					axisLine: {
						onZero: false,
						lineStyle: {
							color: colors[1]
						}
					},
				}],
				yAxis: [{
						type: 'value',
						name: '市值',
						// min: 0,
						// max: 5,
						// interval: 1,
						axisLabel: {
							formatter: '{value} 亿'
						}
					},
					{
						type: 'value',
						name: '指数',
						// min: 0,
						// max: 25,
						// interval: 5,
						axisLabel: {
							formatter: '{value} °C'
						}
					}
				],
				dataZoom: [{
					show: true,
					start: 0,
					end: 100
				}],
				series: [{
						name: '总市值',
						type: 'line',
						data: data.index_m
					},
					{
						name: '合理市值',
						type: 'line',
						data: data.index_h
					},
					{
						name: '泡沫指数',
						type: 'line',
						yAxisIndex: 1,
						data: data.index_y
					}
				]
			};

			
			// // 使用刚指定的配置项和数据显示图表。
			myChart.setOption(option);
		})

	</script>
</body>

</html>
